<div class="container">
  <div class="row wells">
<h1>food-palace</h1>
</div>


{{#each model.hotels as |hotel|}}
{{hotel-tile hotel=hotel deleteHotel="deleteHotel" update="update"}}
{{/each}}

{{new-hotel addNewRestaurant="addNewRestaurant"}}
{{#each model.ratings as |rating|}}
<h4>NAME:{{rating.author}}</h4>
<h4>RATING:{{rating.score}}</h4>
<h4>COMMENTS:{{rating.content}}</h4>
{{/each}}

{{#link-to 'index'}}home{{/link-to}}
{{#link-to 'contact'}}contact us{{/link-to}}

</div>
